{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="container content info hono">
    <h1>Nos honoraires</h1>
    <p>
        L’intervention d’un avocat de quelque nature qu’elle soit, suppose le règlement d’un honoraire, lequel est envisagé là l’occasion
        du premier rendez-vous.
    </p>
    <p>
        Le montant des honoraires est fonction de la difficulté du dossier, du temps passé dans le traitement du dossier, en réception
        client, en expertise et en audience, des recherches effectuées, des déplacements à effectuer, de la notoriété de
        l'Avocat.
    </p>
    <p>
        Il est d'usage dans notre Cabinet de proposer la signature d'une convention d'honoraires prévoyant le montant des honoraires
        et leur mode de règlement vous permettant d'avoir connaissance dès le départ du coût de notre intervention.
    </p>
    <p>
        En règle générale, une provision sera demandée lors de l'ouverture du dossier.
    </p>
    <p>
        Nous pouvons également intervenir dans le cadre de l'aide juridictionnelle.
    </p>
    <p>
        Le principe de facturation de base du cabinet tient compte du budget de ses clients: Notre taux horaire s’échelonne entre
        150 à 200 euros, hors frais, en fonction de la spécialisation de l’avocat. Nous fournissons des factures détaillées
        qui permettent au client de comprendre à quoi correspond chaque montant.
    </p>
    <p>
        Les frais et débours (frais d’huissier, envoi en Chronopost ou lettre recommandée , frais de déplacement, etc.) sont également
        détaillés. Nous intervenons également à la demande pour des montants forfaitaires qui font l’objet de conventions
        d’honoraires.
    </p>
</div>
{% endblock %}