{% extends "layouts/base.html" %} {% load static %} {% block content %}
<div class="content">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img src="{% static "gest_avocat/images/vieux_port.jpg" %}" alt="Vieux
        Port First slide" class="first-slide">
        <div class="container">
          <div class="carousel-caption d-none d-md-block text-left">
            <h1>
              Cabinet AMAS
              <span class="first-slide">SCHENONE</span>
            </h1>
            <h2>Avocat</h2>
            <p>
              <a class="btn btn-lg btn-primary" href="/contact" role="button"
                >Notre adresse</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static "gest_avocat/images/palais.jpg" %}" alt="palais
        second slide" class="second-slide">
        <div class="container">
          <div class="carousel-caption d-none d-md-block">
            <h1>Cabinet d'avocats à Marseille</h1>
            <p>
              26 années d'expérience dans le conseil, l'assistance, la
              représentation et la défense, dans les principaux domaines du
              droit.
            </p>
            <p>
              <a
                class="btn btn-lg btn-primary"
                href="/description"
                role="button"
                >Nos domaines d'activités</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static "gest_avocat/images/palais-exterieur.jpg" %}"
        alt="corniche third slide" class="third-slide">
        <div class="container">
          <div class="carousel-caption d-none d-md-block text-right">
            <h1>Prise de contact</h1>
            <p>
              Vous pouvez désormais nous contacter depuis notre site internet en
              remplissant la fiche jointe ou sur notre page Facebook AMAS -
              Schenone Avocats.
            </p>
            <p>
              <a class="btn btn-lg btn-primary" href="/contact" role="button"
                >Nous contacter</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#myCarousel"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Précedent</span>
    </a>
    <a
      class="carousel-control-next"
      href="#myCarousel"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Suivant</span>
    </a>
  </div>
  <hr class="divider" />
  <div class="container">
    <img src="{% static "gest_avocat/images/coronaEquipe.jpeg" %}" alt="michel
        isabelle karine sarah amas schenone laignel zenou" height="500"
        width="700" class="img-responsive">
  </div>
  <div class="container">
    Ce cabinet s’engage, pour limiter la propagation du COVID-19 :
    <ul>
      <li>Gel hydroalcoolique à disposition, à l’accueil.</li>
      <li>Paroi en plexiglas à l’accueil.</li>
      <li>
        Désinfection systématique des surfaces de contact avec la clientèle et
        les parties communes.
      </li>
      <li>
        Pas d’accès à la salle d’attente venez à l’heure et appelez votre Avocat
        avant votre arrivée sur le palier pour qu’il vous ouvre.
      </li>
      <li>Pas d’accès aux toilettes (désolé)</li>
    </ul>
    <p>
      Privilégions les rendez-vous téléphoniques Pour votre santé, et celle de
      nos équipes, nous vous remercions de bien vouloir respecter les consignes
      suivantes :
    </p>
    <ul>
      <li>Port du masque obligatoire</li>
      <li>
        Lavage des mains par gel hydroalcoolique dès votre arrivée au cabinet
      </li>
      <li>
        Munissez-vous de votre propre stylo, pour les rendez-vous de signature.
      </li>
    </ul>
    <p>
      En cas de symptômes évocateurs du COVID-19 (toux, difficultés
      respiratoires…etc), nous vous invitons à regagner votre domicile, et à
      contacter votre médecin traitant, ou le 15 en cas de symptômes graves.
    </p>
  </div>
  <hr class="divider" />
  <div class="container">
    <div class="alert alert-primary" role="alert">
      <p><strong>Dossier de presse</strong></p>
      <p>
        <a href="/protectionDesEnfants">
          Actions de Maître Michel AMAS aux fins de modifier la procédure
          concerant le placement des enfants</a
        >
      </p>
    </div>
    <div class="alert alert-primary" role="alert">
      Avocat pour conseiller, assister, représenter et défendre !
    </div>
    <div class="equipe">
      <img src="{% static "gest_avocat/images/equipe.jpg" %}" alt="michel
      isabelle karine sarah amas schenone laignel zenou" height="500"
      width="700" class="img-responsive">
    </div>
    <hr class="divider" />
    <div class="marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img src="{% static "gest_avocat/images/michel.jpg" %}" alt="photo
          michel amas" class="rounded-circle" width="160" height="140">
          <h2>Michel AMAS</h2>
          <p>
            Lauréat de la conférence du stage, ancien membre du conseil de
            l'ordre. 04.91.33.27.00
          </p>
          <p>
            <a class="btn btn-secondary" href="tel:0491332700" role="button"
              >Téléphoner</a
            >
          </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="{% static "gest_avocat/images/isabelle.jpg" %}" alt="photo
          isabelle schenone" class="rounded-circle" width="120" height="140">
          <h2>Isabelle SCHENONE</h2>
          <p>
            Avocat ancien présidente de l'UJA, membre du conseil de l'ordre.
            04.91.33.37.44
          </p>
          <p>
            <a class="btn btn-secondary" href="tel:0491333744" role="button"
              >Téléphoner</a
            >
          </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="{% static "gest_avocat/images/karine.jpg" %}" alt="photo
          karine laignel" class="rounded-circle" width="140" height="140">
          <h2>Karine LAIGNEL</h2>
          <p>
            Avocat. 06.63.72.88.38
          </p>
          <p>
            <a class="btn btn-secondary" href="tel:0663728838" role="button"
              >Téléphoner</a
            >
          </p>
        </div>
        <!-- /.col-lg-4 -->
        <!-- /.row -->
      </div>
    </div>
    <hr class="divider" />
  </div>
</div>
{% endblock %}
