{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="container content levo">
    <h1>Indémnistation des victimes du Levothyrox</h1>
    <h2>Le problème du Levothyrox</h2>

    <p>
        La nouvelle formule du Levothyrox a entraîné pour nombre d’usagers de très nombreux problèmes importants migraines, perte
        de cheveux, perte d’équilibre, dépression sévère… Face aux milliers de réclamations la justice a décidé de centraliser
        toutes les plaintes à Marseille. Le seul pôle santé et donc maintenant présent à Marseille.
    </p>
    <p>
        <strong>Toutes les plaintes françaises sont centralisées à Marseille, où que vous soyez situé votre dossier sera traité à
            Marseille.</strong>
    </p>
    <h2>Notre expérience</h2>
    <p>
        <strong>Des dizaines de plaignants depuis le mois de septembre 2017 ont déjà rejoint notre structure </strong>et nous recevons
        plusieurs dossiers par jour à l’heure actuelle. Bien évidemment compte tenu de l’éloignement nous pourrons avoir
        des rendez-vous par Skype, par FaceTime par visioconférence ou par téléphone si vous le souhaitez.
    </p>
    <p>

        Notre cabinet vous assistera dans le dépôt de la plainte, mais également vous défendra
        <strong>pour obtenir l’indemnisation la plus importante possible et en adéquation avec votre préjudice.</strong> Nous serons
        à vos côtés dans le procès mais également dans l’expertise.
    </p>
    <h2>Nos honoraires</h2>
    <p>
        Compte tenu du nombre de plaintes nous avons établi un forfait global pour l’intégralité des procédures pénales. Lors du
        premier rendez-vous une convention d’honoraires vous sera proposée.
    </p>
    <p>
        <strong>Le cabinet AMAS SCHENONE disponibilité, écoute, proximité.</strong>
    </p>
    <p>
        <h2>Michel AMAS: </h2>
        <div class="list-group">
            <a class="list-group-item list-group-item-action" href="tel:0491332700">Tel :04.91.33.27.00</a>
            <a class="list-group-item list-group-item-action" href="tel:0491334105">Fax :04.91.33.41.05</a>
            <a class="list-group-item list-group-item-action" href="mailto:amas.schenone@wanadoo.fr">Email: amas.schenone@wanadoo.fr</a>
        </div>
    </p>
</div>
{% endblock %}