{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="container content info">
        <h1>Notre Bureau</h1>
        <p>
            Nos locaux professionels se trouvent au 36 rue Edouard Delanglade 13006 à Marseille, au 3ème étage. Notre immeuble est accessible
            aux personnes à mobilité réduite.
        </p>
        <p>
            Notre cabinet est implanté au coeur de Marseille dans le 6ème arrondissement à 2 minutes du palais. Parking Monthyon ou métro
            ligne 1 sortie Estrangin préfecture.
        </p>
        <p>
            <a href="/levothyrox">Forfait pour le levothyrox</a>
        </p>
        <hr class="divider">
        <div class="container">
            <h2>Michel AMAS: </h2>
            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="tel:0491332700">Tel :04.91.33.27.00</a>
                <a class="list-group-item list-group-item-action" href="tel:0491334105">Fax :04.91.33.41.05</a>
                <a class="list-group-item list-group-item-action" href="mailto:amas.schenone@wanadoo.fr">Email: amas.schenone@wanadoo.fr</a>
            </div>

            <h2>Isabelle SCHENONE AMAS: </h2>

            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="tel:0491333744">Tel :04.91.33.37.44</a>
                <a class="list-group-item list-group-item-action" href="tel:0491334105">Fax :04.91.33.41.05</a>
                <a class="list-group-item list-group-item-action" href="mailto:isabelle.schenone@wanadoo.fr">Email: isabelle.schenone@orange.fr</a>
            </div>

            <a href="https://www.facebook.com/amas.schenone/">
                <img alt="Suivez-nous sur facebook" src="//login.create.net/images/icons/user/facebook_30x30.png" border=0> Suivez-nous sur Facebook - AMAS - Schenone Avocats</a>
        </div>
        <hr class="divider">
        <p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2904.2127522758865!2d5.3714143150586375!3d43.288866083931964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12c9c0b7dda6f723%3A0xd0ef89bdcd2d5045!2s36+Rue+Edouard+Delanglade%2C+13006+Marseille!5e0!3m2!1sen!2sfr!4v1504358211883"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </p>
    </div>
{% endblock %}