{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="container content info">
    <h1>Nos domaines d'activités</h1>
    <p class="presentation">
        Nous sommes là pour vous conseiller avant tout contentieux, avant toutes procédures et nous serons là aussi pour vous assister,
        vous représenter devant les tribunaux, et vous défendre et faire valoir vos intérets devant toutes les juridictions
        partout en France
    </p>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
            <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">Le droit civil</h4>

            </div>
            <p class="mb-1">
                <ul>
                    <li>
                        <h5 class="titre2">La famille</h5>
                    </li>
                    <p>
                        Le divorce et ses conséquences, la liquidation de votre régime matrimonial, les séparations de personnes non mariés et les
                        conséquences sur leurs enfants et leurs patrimoines, le changement de prénom, le changements de nom,
                        l'adoption, les successions, les pacs.
                    </p>

                    <li>
                        <h5 class="titre2">La propriété</h5>
                    </li>
                    <p>
                        Les problèmes de construction, les malfaçcons, les retards de livraisons de chantiers,les fissures, la copropriété, les servitudes
                        de passages, tous problèmes de voisinage, les problèmes locatifs.
                    </p>

                    <li>
                        <h5 class="titre2">La banque</h5>
                    </li>
                    <p>
                        Les impayés, les hypothèques, les problèmes de TEG, les conflits avec la banque.
                    </p>
                    <li>
                        <h5 class="titre2">La responsabilité</h5>
                    </li>
                    <p>
                        Les accidents de la route, les accidents médicaux, les malfaçons de toutes sortes sur les chantiers.
                    </p>


                </ul>
            </p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">Le droit commercial</h4>
            </div>
            <p class="mb-1">Les sociétés leurs création, rédaction de status, les cessions de fonds de commerce mais aussi les difficultés
                des entreprises, le recouvrement de créance, les transactions, le redressement judiciaire.
                <ul>
                    <li>
                        <h5> Les actes</h5>
                    </li>
                    <p>
                        Rédaction d'actes, les baux, les contrats, les sociétés (SAS, SARL, SA, EURL...), nous serons la pour vous conseiller les
                        contrats les plus adaptés a votre activité.
                    </p>
                    <li>
                        <h5> Le recouvrement</h5>
                    </li>
                    <p>
                        Nous mettrons en oeuvre tous les moyens légaux pour recouvrer les sommes qui vous sont dues par tous vos partenaires, quelque
                        soit le lieu ou il réside et la nature de leurs activités. Ainsi nous plaidons partout en France.
                    </p>
                    <li>
                        <h5> Le conseil</h5>
                    </li>
                    <p>
                        Nous pouvons mettre en place un partenariat avec votre entreprise pour vous conseiller les meilleurs choix dans votre activités,
                        vous aider dans les transactions avec vos partenaires et mettre en forme les accords que vous passerez.
                    </p>
                    <li>
                        <h5> Les difficultés</h5>
                    </li>
                    <p>
                        Nous serons à vos cotés pour faire face aux difficultés que vous pourrez rencontrer, impayés, problèmes de tresorerie, nous
                        serons là aussi pour vous aider avec les tribunaux à trouver des solutions dans le cadre d'une gestion
                        concertée de la procédure de redressement judiciaire
                    </p>
                </ul>
            </p>

        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">Le droit du travail</h4>
            </div>
            <ul>
                <li>
                    <h5> Le contrat de travail</h5>
                </li>
                <p>
                    Nous vous conseillerons dans la mise en place ou l'acceptation des différents contrats que vous envisagez de mettre en oeuvre.
                    Nous vous aiderons dans le cadre des discussions interne a votre entreprise. Nous pouvons si vous le
                    souhaiter faire un point régulier de l'évolution de la loi et des perspectives a venir.
                </p>
                <li>
                    <h5> Le conflit</h5>
                </li>
                <p>
                    Nous serons là pour vous assister et vous défendre efficacement devant tous les conseils des Prud'hommes en France à défault
                    d'avoir une solution transactionelle préalable.
                </p>
            </ul>
        </a>
        <a href="http://www.marcheimmobilierdesavocats.com" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">La vente et achat de bien immobilier</h4>
            </div>
            <p>
                L'avocat est le partenaire de confiance dans le cadre des mandats de ventes ou d'achats de tout bien immobiliers. Nous donnons
                à cette activité un cadre juridique, nous faisons parti du marché immobilier des avocats
                <span
                    style="color:red">MIA</span>.
            </p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">Le droit pénal</h4>
            </div>
            <ul>
                <li>
                    <h5>Le droit pénal général</h5>
                </li>
                Nous serons là pour être aux côtés des mises en cause et des victimes à la suite des infractions de droit pénal et de droit
                commun, quelque soit la gravité des faits, du simple accident la circulation au coups et blessures, trafic
                de stupéfiants.. Nous plaiderons ainsi dans vos intérêts par-devant les diverses juridictions pénales et
                notamment le Tribunal Correctionnel et la Cour d'Assise. Nous serons notamment à vos côtés pendant l'intégralité
                de l'instruction de la procédure tant pendant la garde à vue où nous serons disponibles tout au long de cette
                épreuve dans les services de la police ou de la gendarmerie, mais également nous serons à vos côtés pour
                un dialogue avec le Juge et un combat s'il le faut avec le Parquet. Nous croyons et nous savons que l'Avocat
                est un atout majeur de la victime comme il est le seul rempart du mis en cause.
                <li>
                    <h5>Le droit pénal des affaires</h5>
                </li>
                Face à la spécialisation de cette matière, désormais non seulement les enquêteurs mais également les magistrats sont de plus
                en plus pointus, centralisés au sein de pôles spécialisés, Marseille étant l'un de ses pôles. Le cabinet
                a déjà été amené à intervenir dans divers dossiers de ce type de droit, et notamment concernant les subventions
                allouées par la région PACA à diverses associations mais également dans des procédures gérées par la brigade
                financière à Paris.
                <li>
                    <h5>La cours d'assise</h5>
                </li>
                Notre cabinet à foi en l'exercice oratoire. Nombre d'entres-nous ont été lauréats de la conférence du stage, Maître AMAS
                ayant également obtenu le second prix au grand prix de la francophonie. Nous mettons en avant l'engagement
                total dans le cadre d'une plaidoirie efficace au service du client.

            </ul>
        </a>




    </div>
</div>

{% endblock %}