{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
    <div class="container content">
        <div class="list-group">
        {% for article in articles %}

            <a href="/article/{{ article.id }}" class="list-group-item list-group-item-action flex-column align-items-start ">
            <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">
                    {{ article.titre }}
                </h4>
                <p>
                    {{ article.auteur }}
                </p>
            </div>
            </a>
        {% endfor %}
        </div>
        <nav aria-label="page navigation">
          <ul class="pagination">
              {% if page_obj.has_previous %}

            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Page précedente</a></li>

              {% endif %}
              {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Page suivante</a></li>
              {% endif %}
          </ul>
        </nav>
    </div>

{% endblock %}
